body {
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

ul, h4, h1, p {
  padding: 0;
  margin: 0;
  letter-spacing: -0.3px;
}

a {
  color: black;
  text-decoration: none;

  &:hover {
    color: gree;
  }
}

h1 {
  font-size: 32px;
  line-height: 54px;
}

h4, p {
  font-size: 16px;
  line-height: 24px;
}
