.recipes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.recipe-image-wrapper {
  height: 500px;
  overflow: hidden;
  margin-top: -20px;
  position: relative;
  background-color: #ececec;
  width: 100%;
}
