.skeleton {
  border-radius: 4px;
  width: 100%;
  position: relative;
  background-color: #ececec;
  height: 30px;
  z-index: 1;
  margin-right: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  overflow: hidden;

  &.square {
    border-radius: unset;
  }

  &.small {
    height: 15px;
  }

  &:last-child {
    margin-right: 0;
  }

  &.in-col:last-child {
    margin-bottom: 0;
  }

  &::before {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ececec;
    z-index: 9;
    border-radius: inherit;
  }

  &::after {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .5), transparent);
    animation: skeleton 1.5s infinite;
    z-index: 10;
    top: 0;
  }

  &.nav {
    height: 30px;
  }

  &.intro {
    height: 100px;
  }

  &.logo {
    width: 30px;
    border-radius: 50%;
  }

  @keyframes skeleton {
    100% {
      transform: translateX(100%);
    }
  }
}

.skeleton-wrapper {
  display: flex;

  * {
    flex: 1;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.recipe-skeleton {
  &.wrapper {
    width: 270px;
    margin-bottom: 25px;
    margin-right: 10px;
    min-height: 289px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);

    &:last-child {
      margin-right: auto;
    }
  }

  .recipe-image {
    min-height: 180px;
    max-height: 180px;
    margin-top: 0;
  }

  .recipe-details {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 5px;
  }

  .recipe-bottom {
    margin-top: auto;
  }
}
