.skeleton {
  border-radius: 4px;
  width: 100%;
  position: relative;
  background-color: grey;
  height: 30px;
  z-index: 1;
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }

  &::before {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: grey;
    z-index: 9;
    border-radius: inherit;
  }

  &::after {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .5), transparent);
    animation: skeleton 1.5s infinite;
    z-index: 10;
    top: 0;
  }

  &.nav {
    height: 30px;
  }

  &.intro {
    height: 100px;
  }

  &.logo {
    width: 30px;
    border-radius: 50%;
  }

  @keyframes skeleton {
    100% {
      transform: translateX(100%);
    }
  }
}

.skeleton-wrapper {
  display: flex;

  * {
    flex: 1;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }
}
